<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dumb Task Manager</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="./css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-50 min-h-screen flex flex-col">
    <%- include('layout/header') %>

    <main class="container mx-auto px-4 py-8 flex-grow"><%- body %></main>

    <%- include('layout/footer') %>
  </body>
</html>
